.backdrop{
  background-color: #d0d8e1;
}

.innerbox{
  margin: 20px; 
  padding: 5px;
  border: 5px solid #469645;
  background-color: #b1b9c9;
  width: auto;
  font-family: ubuntu, sans-serif;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.innerboxtwo{
  margin: 20px; 
  padding: 5px;
  border: 5px solid #469645;
  background-color: #b1b9c9;
  width: auto;
  font-family: ubuntu, sans-serif;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.headerone{
  margin: 20px; 
  padding: 5px;
  color: #469645;
  border: 5px solid #78686e;
  border-radius: 15px;
  font-family: ubuntu, sans-serif;  
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}

.headertwo{
  color: white;
  font-weight: bold;
  font-family: ubuntu, sans-serif;
  text-align: center;

}

.select{
  border-radius: 5px;
  border: 2px solid #78686e;
  background-color: #e0e0e0;
  color: black;
  font-weight: bold;
  text-align: center; 
  font-family: ubuntu, sans-serif;
}

.button{
  border-radius: 5px;
  border: 4px solid #78686e;
  background-color: #e0e0e0;
  color: black;
  text-align: center; 
  font-size: 18px;
  font-weight: bold;
  font-family: ubuntu, sans-serif;
}

.output{
  color: black
}

.photo{
  text-align: center;
}

.cc{
  color: white;
  font-family: ubuntu, sans-serif;
  text-align: center;
}